<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nombre total de film par acteur</title>
    <link rel="stylesheet" href="style_mostConnected.css">
</head>
<body>
<!-- Inclure la barre de navigation partagée -->
<th:block th:replace="navbar.html"></th:block>

<main class="container">
    <header>
        <h1 class="title">Acteurs ayant jouer dans plus de films </h1>
    </header>

    <!-- Résultats des acteurs les plus connectés -->
    <section class="query-result-section">
        <h2 class="section-title">Résultats</h2>
        <table class="query-result-table">
            <thead>
            <tr>
                <th>Acteur</th>
                <th>Nombre de Film</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="result : ${actorsResults}">
                <td th:text="${result['Actor']}">Acteur</td>
                <td th:text="${result['Connections']}">Connexions</td>
            </tr>
            </tbody>
        </table>
    </section>
</main>
</body>
</html>
